@import "./components/login";
@import "./components/home";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-image: url("/images/wave.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;

  .form-control {
    color: #ccc !important;
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0 !important;

    &:focus {
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #fff;
    }

    &::placeholder {
        color: #aaa;
        font-weight: bolder;
    }
}
}




