<template>
  <div class="login">
    <b-row>
      <!-- Imagen Login -->
      <b-col xl="6" class="d-flex align-items-center justify-content-center">
        <img src="/images/undraw.svg" alt="" class="fondo"/>
      </b-col>

      <!-- formulario -->
      <b-col xl="6" class="d-flex align-items-center justify-content-center">
        <b-card class="rounded-lg">
          <b-form @submit.prevent="login">
              <b-col md="12" class="d-flex justify-content-center pb-4">
                  <img  src="/images/aave-aave-logo.png" alt="" width="100">
              </b-col>
              <h1 class="title__form text-center pb-5">Log In</h1>
            <b-form-group>
              <b-form-input
                v-model="user.email"
                type="text"
                placeholder="Ingresa Tu correo electronico"
                required
              />
            </b-form-group>
            <b-form-group >
              <b-form-input
                v-model="user.password"
                type="password"
                placeholder="Ingresa Tu contraseña"
                required
              />
            </b-form-group>
            <b-col class="pt-4 pb-3 d-flex justify-content-center" md="12">
                <b-btn class="btn-login" type="submit">
                    Login
                </b-btn>
            </b-col>
            <b-col class="pt-4  d-flex justify-content-center" md="12">
                <p class="text-white">¿Olvidaste tu contraseña?</p>
            </b-col>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
const axios = require('axios')
export default {
  data: () => ({
    user: {
      email: null,
      password: null
    },
  }),
  methods: {
    login(){
      let loader = this.$loading.show();
      axios.get('https://jsonplaceholder.typicode.com/users')
      .then((res) => {
        res.data.find(item => {
          loader.hide()
          if(item.email == this.user.email){
            localStorage.setItem('user', JSON.stringify(item.id))
            window.location = '/'
          }else {
            this.$swal({
              icon: 'error', 
              text: 'Datos ingresados son erroneos'
            })
          }
        })
      }).catch((err) => {
        loader.hide()
        console.log(err);
      })
    }
  }
};
</script>