.home {

  .row {
    height: 100vh;
    margin: 0;

    .fondo_ite {
      width: 40%;
      position: fixed;
    }

    .pagination-bottom {
      position: fixed;
      bottom: 5%;
      left: 14%;
    }
  }
}
