.login {

  .row {
    margin: 0;
    height: 100vh;

    .card {
      width: 60%;
      background-color: transparent;
      border: none;

      .card-body {
        display: flex;
        justify-content: center;
        background: linear-gradient(45deg, #2f2e41, #5000ca);
        border-radius: 20px;
        

        form {
          width: 90%;
          padding: 20px 0;
          color: #fff;

          fieldset {
              padding-bottom: 20px;
          }

          .btn-login {
            background-color: #4aa3bd;
            padding: 10px 40px;
            font-weight: bolder;
            border-radius: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px){
    .login {
        .row {
            height: auto;
            padding-bottom: 10%;

            .fondo {
                width: 40%;
                padding-top: 10%;
            }

            .card {
                width: 50%;
                padding-top: 10%;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .login {
        .row {
            .fondo {
                width: 100%;
            }

            .card {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .login {
        .row {
            .fondo {
                width: 50%;
            }
        }
    }
}