<template>
  <b-navbar toggleable="lg" type="light">
    <b-container fluid>
      <b-navbar-brand href="/"><img src="/images/aave-aave-logo.png" alt="" width="50"></b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item href="/">
            Inicio
          </b-nav-item>
          <b-nav-item href="/admin" v-if="id == 1">
            Administrador
          </b-nav-item>
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <em>{{ user != null ? user.name : 'user' }}</em>
            </template>
            <b-dropdown-item @click.prevent="logout">Cerrar sesion</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-container>
  </b-navbar>
</template>
<script>
const axios = require('axios');
export default {
    data: () => ({
        id: null,
        user: null,
    }),
    mounted(){
        let user = JSON.parse(localStorage.getItem('user'));
        this.id = user;
        this.getUser();
    },
  methods: {
    getUser() {
      let loader = this.$loading.show();
      axios
        .get("https://jsonplaceholder.typicode.com/users")
        .then((res) => {
          res.data.find((item) => {
            loader.hide();
            if (item.id == this.id) {
              this.user = item
            } 
          });
        })
        .catch((err) => {
          loader.hide();
          console.log(err);
        });
    },

    logout(){
      localStorage.removeItem('user');
      window.location = '/login'
    }
  },

};
</script>