<template>
  <div style="height: 90vh">
    <b-container>
      <v-client-table
        :data="carrito != null ? carrito : []"
        :columns="columns"
        :options="options"
      >
        <template slot="img" slot-scope="props">
            <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2019/07/origen-nombres-informatica-nunca-hubieras-imaginado_0.jpg?itok=i7ZaI6ma" :alt="props.row" width="100">
        </template>
        <template slot="opciones" slot-scope="props">
            <b-button variant="primary" @click="eliminar(props)">
                Eliminar
            </b-button>
        </template>
      </v-client-table>
    </b-container>
  </div>
</template>
<script>
export default {
  data: () => ({
    carrito: null,
    columns: ["id", "title", "user.name", "img", "opciones"],
    options: {
      headings: {
        id: "N° producto",
        title: "Producto",
        "user.name": "Usuario",
        img: "Imagen",
        opciones: "Opciones",
      },
    },
  }),
  mounted() {
    this.getCarrito();
  },
  methods: {
    getCarrito() {
      let loader = this.$loading.show();
      let carrito = JSON.parse(localStorage.getItem("carrito"));
      this.carrito = carrito;
      loader.hide();
    },

    eliminar(data){
        console.log(data);
      let loader = this.$loading.show();
        this.carrito.splice(data.index - 1, 1)
        loader.hide()
    }
  },
  watch: {
    carrito: {
      handler(val) {
        localStorage.setItem("carrito", JSON.stringify(val));
      },
      deep: true,
    },
  },
};
</script>