<template>
  <div class="home">
    <b-row>
      <b-col md="5" class="d-flex align-items-center">
        <img src="/images/travel.svg" alt="" class="fondo_ite" />
        <b-pagination
          v-model="page"
          :total-rows="this.photos != null ? this.photos.length : 0"
          :per-page="perPage"
          class="pagination-bottom"
        ></b-pagination>
      </b-col>
      <b-col md="7">
        <b-row>
          <b-col md="4" v-for="(item, index) in list" :key="index">
            <b-card
              :title="item.title"
              img-src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2019/07/origen-nombres-informatica-nunca-hubieras-imaginado_0.jpg?itok=i7ZaI6ma"
              img-alt="Image"
              img-top
              tag="article"
              style="max-width: 20rem; height: 350px"
              class="mb-2"
            >
              <b-button
                href="#"
                variant="primary"
                v-b-modal.modal
                @click.prevent="data_edit = item"
                >Ofertar</b-button
              >
            </b-card>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-modal
      id="modal"
      :title="data_edit != null ? data_edit.title : 'hola'"
      size="lg"
      centered
    >
      <b-row>
        <b-col md="6">
          <img
            src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2019/07/origen-nombres-informatica-nunca-hubieras-imaginado_0.jpg?itok=i7ZaI6ma"
            alt=""
            style="width: 100%"
          />
        </b-col>
        <b-col md="6">
          <h3>{{ data_edit != null ? data_edit.title : "hola" }}</h3>
        </b-col>
      </b-row>
      <template #modal-footer>
        <b-button variant="light" @click.prevent="$bvModal.hide('modal')"
          >Cancelar</b-button
        >
        <b-button variant="primary" @click.prevent="guardarOferta(data_edit)"
          >Ofertar</b-button
        >
      </template>
    </b-modal>
  </div>
</template>
<script>
const axios = require("axios");
export default {
  data: () => ({
    photos: null,
    page: 1,
    perPage: 6,
    data_edit: null,
    carrito: [],
    user: null,
    index: 0
  }),
  mounted() {
    this.getFotos();
    let carrito = JSON.parse(localStorage.getItem("carrito"));
    if (carrito) {
      this.carrito = carrito;
    }
    this.id = JSON.parse(localStorage.getItem("user"));
  },
  methods: {
    getFotos() {
      let loader = this.$loading.show();
      axios
        .get("https://jsonplaceholder.typicode.com/photos")
        .then((res) => {
          loader.hide();
          this.photos = res.data;
          console.log(res.data.length);
        })
        .catch((err) => {
          loader.hide();
          console.log(err);
        });
    },

    /**
     * funcion asincrona para obtener el usuario logueado y guardar la oferta realizada.
     */
    async guardarOferta(data) {
      let loader = this.$loading.show();
      await axios
        .get("https://jsonplaceholder.typicode.com/users")
        .then((res) => {
          this.user = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
      data.user = this.user.find((item) => {
        if (item.id == this.id) {
          return item;
        }
      });
      data.index = this.index
      console.log(data);
      this.carrito.push(data);
      this.$bvModal.hide("modal");
      loader.hide();
      this.index = this.index++
    },
  },
  watch: {
    carrito: {
      handler(val) {
        localStorage.setItem("carrito", JSON.stringify(val));
      },
      deep: true,
    },
  },
  computed: {
    list() {
      if (this.photos != null) {
        return this.photos.slice(
          (this.page - 1) * this.perPage,
          this.page * this.perPage
        );
      } else {
        return null;
      }
    },
  },
};
</script>