<template>
  <div>
    <Header v-if="window != '/login'" />
    <router-view />
  </div>
</template>
<script>
import Header from "./components/Header/header.vue";
export default {
  components: {
    Header,
  },
  data: () => ({
    window: window.location.pathname,
  }),
};
</script>